body{
    height: 2000px;
    margin: 0;
}
p {
    display: inline;
}

span {
    display: block;
}

.container{
    display: inline-block;
    width: 200px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid black;
}

#p_one{
    display: none;
}
.fixed-nav{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: darkblue;
    padding: 10PX;
    text-align: center;    
}


